.Margin {
  padding: 3em;
}
.search {
  padding: 1em;
  width: 98%;
  font-size: 20px;
  border: 1px solid rgb(190, 190, 190);
  outline: none;
  transition: all 0.2s ease-in-out;
}
.search:focus {
  outline: none;
  border: 0;
  border-bottom: 1px solid black;
}
.row {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(190, 190, 190);
}
.checkbox {
  border: 1px solid rgb(190, 190, 190);
  outline: none;
}
.name {
  width: 10%;
}
.email {
  width: 10%;
}
.role {
  width: 10%;
}
.actions {
  width: 10%;
  display: flex;
  gap: 20px;
}
